.navbar-logo {
    max-height: 50px; 
    max-width: auto;  
}


body {
    
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

 

    .black-background-table {
        background-color: black ;
        color: white ; 
    }
    
    .black-background-table thead th {
        background-color: #333 ;  
        color: white ;
    }
    
    .black-background-table tbody tr:nth-child(even) {
        background-color: #222 ;
    }
    

    input {
        height: 30px;
        font-size: 18px; 
        width: 200px;
    }
    
    .search-button {
        height: 30px; 
        font-size: 10px; 
    }
    
    #search-btn {
        display: flex; /* Asegura que el ícono y el texto se alineen como flex items */
        align-items: center; /* Alinea verticalmente el ícono y el texto */
    }


.custom-navbar-bg {
    background-color: rgb(0, 0, 0); 
}

  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* Cambia las líneas del ícono a blanco */
    transform: scale(0.8); 
    width: 1.5rem; 
    height: 1.5rem; 
  }
  


.logo{
    display: flex;
    align-items: center;
    margin:0;
    text-decoration: none;
    color: #ff5e00;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-text-stroke: 2px #ff5e00;
}
.navbar-logo {
    max-height: 50px; 
    max-width: auto;  
}

.btn-enviar {
    margin-bottom: 20px; 
}



nav .navbar-nav .nav-item a.registro {
    text-decoration: none; 
    color: #f6f6f6;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;
}

.carousel {
    max-width: 1000px;
    margin: 40px auto; 
}

.carousel-caption {
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
}

.carousel-caption h5 {
    font-size: 1.5rem; 
    color: #ffffff; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

.carousel img {
    max-height: 200px; 
    object-fit: cover; 
    width: 100%; 
}

@media (max-width: 768px) {
    .carousel {
        max-width: 100%; 

    .carousel img {
        max-height: 120px; 
    }
}}

.categoria-card {
    border-radius: 10px; 
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
}

.categoria-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.categoria-card .card-title {
    font-size: 1.25rem; 
    font-weight: bold; 
    color: #ffffff; 
    text-align: center; 
}


.categoria-card .btn {
    width: 100%; 
    margin-top: 10px; 
}


.categoria-card img {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    height: 250px; 
    object-fit: cover;
}



.cantidad-input {
    width: 60px;
    font-size: 1rem;
    height: 35px; 
    padding: 0; 
}

.btn-outline-secondary {
    font-size: 1rem;
    padding: 0; 
    height: 30px; 
    line-height: 20px; 
    width: 30px;
}




#search-btn {

    
    font-size: 12px;

}

.buscar-text {
    text-decoration: none; 
    color: #fdf9f5;
    margin-top: 5px; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px; 
}

.txt {
    color: rgb(0, 255, 64);
    text-align: center;
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(0, 255, 64);
}

.txttitulo {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(255, 0, 0);
}


.txttitulohome {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 300%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(255, 0, 0);
}

.txttituloregistro {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 300%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(255, 0, 0);
}

.txtnav {
    text-decoration: none; 
    color: #ff5e00;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-right: 20px;
    font-weight: 600;
}

.texto-blanco {
    color: white;         
    text-align: justify;   
    font-size: 0.8em;     
}


.txtcontacto {
    text-decoration: none; 
    color: #ff5e00;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-right: 20px;
    font-weight: 600;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
}

.textopequeno {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
}

.txtcarrito {
    color: rgb(255, 94, 0);
    text-align: center;
    font-size: 300%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
   
}

.txtsub{
    color: rgb(243, 243, 243);
    text-align: center;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
   
}


.nav-link i.fas {
    vertical-align: middle; 
    font-size: 1.0em; 
    margin-right: 5px; 
    
}

.search-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(12, 12, 12);
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-popup input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.search-popup button {
    padding: 8px 16px;
    background-color: #fa3f10;
    color: rgb(28, 25, 25);
    border: none;
    cursor: pointer;
}

.search-popup button:hover {
    background-color: #0f5ca9;
}







h2 {
    color: rgb(255, 94, 0);
    font-size: 70px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(255, 94, 0);
}



.centrado {
    text-align: center;
}


.nombre-usuario {
    font-weight: bold; 
    color: #ede5d7;
  
}


.boton {
    display: inline-block;
    width: 130px;
    padding: 10px;
    background-color: rgb(251, 255, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    margin: 10px; 
    -webkit-text-stroke: 1.5px #000000;
}

.boton_volver {
    display: inline-block;
    width: 110px;
    padding: 10px;
    background-color: rgb(251, 255, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    -webkit-text-stroke: 1.5px #000000;
}



.store{
    display: flex;
    justify-content: center;
}

.store{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storeSpacing{
    margin-right: 30px;
}


.storetxt {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-align: justify;
}

.mensajesalida {
    font-size: 24px; 
    color: #fff5f0;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}


.form-control {
    font-size: 28px; 
}

.form-control:focus{
    border-color: transparent !important;
    box-shadow: none !important;
}

.formulario__grupo-incorrecto .form-control{
    border: 2px solid red !important;
}

.formulario__grupo-correcto .form-control{
    border: 2px solid green !important;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    flex: 1; 
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto; 
}


.formulario__grupo-incorrecto .form-control__error-txt{
    font-size: 16px;
    color: red;
    font-weight: 600;
}

.label-nombre {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1;
    -webkit-text-stroke: 1px rgb(253, 253, 253);
}

.boton-enviar {
    font-size: 25px; 
    padding: 10px 20px; 
    margin-bottom: 20px;
}


.input-ancho {
    width: 30%;
    margin-bottom: 30px;
    display: flex;
}

.formulario__mensaje-exito{
    font-size: 16px;
    color: green;
    font-weight: 600;
}

.formulario__mensaje-error{
    font-size: 16px;
    color: red;
    font-weight: 600;
}

.txtregistro{
font-size: 30px;
color: #ffa700;
}



.carousel-inner .carousel-item .col img {
    width: 100%; 
    transition: 0.5s ease; 
  }
  

  .carousel-inner .carousel-item .col img:hover {
    cursor: crosshair; 
    transform: scale(1.2); 
    opacity: 1; 
    filter: contrast(120%); 
  }