
.navbar-logo {
    max-height: 50px; 
    max-width: auto; 
    
}

input {
    height: 30px;
    font-size: 18px; 
    width: 200px;
}

.search-button {
    height: 20px; 
    font-size: 10px; 
}



body {
    
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.custom-navbar-bg {
    background-color: rgb(0, 0, 0); 
}



nav .navbar-nav .nav-item a.registro {
    text-decoration: none; 
    color: #ff5e00;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
